<h2><strong><%= t "page.home.header" %></strong></h2>
<p><%= t "page.home.welcome" %></p>
<p>
  <a class="btn btn-lg btn-primary" href="#" role="button">
    <%= t "page.home.signup" %> &raquo;
  </a>
</p>
