<div class="container-fluid background">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><%= t "page.header.signinitem" %></h3>
        </div>
        <div class="panel-body">
          <%= render "users/login_form"%>
        </div>
      </div>
    </div>
  </div>
</div>
