<li>
  <%= f.label f.object.question.name %>
  <ul>
    <% f.object.question.word_answers.each do |answer| %>
      <div>
      <%= f.radio_button :answer_id, answer.id, disabled: true, class: "col-sm-0" %>
      <%= answer.content %>
      </div>
    <% end %>
  </ul>

</li>
