@import "bootstrap-sprockets";
@import "bootstrap";

#field1{
  margin-bottom: 10px;
}

#field2{
  margin-bottom: 10px;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
}

.centered-form{
  margin-top: 60px;
}

.centered-form .panel{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.edit{
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
#error_explanation {
  color: red;
  ul {
    color: red;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.img-center{
  margin: 0 auto;
  display: block;
}

.profile {
  background-color: #9c27b0;
  color: white;
}

.activity{
  background-color: #4CAF50;
  color: white;
}

.follow{
  background-color: #607d8b;
  color: white;
}

.hide-tag{
  display:none;
}

div input#createcate{
  margin-top: 20px;
  margin-bottom: 10px;
}
